{
  "stackName": "webApiSample",
  "region": "ap-southeast-2",
  "template": "%WORKSPACE%/CloudFormation/ecs-WebApiSample.yml",
  "image": "531585151505.dkr.ecr.ap-southeast-2.amazonaws.com/webapisample:%BUILD_NUMBER%",
  "cluster": "pipeline-ecs-cluster",
  "vpcId": "vpc-23c5a044",
  "subnetIds": "subnet-3b703d72,subnet-b1e7b7d6"
}