{
  "stackName": "webApiSample",
  "region": "ap-southeast-2",
  "template": "{path}/ecs-WebApiSample.yml",
  "image": "531585151505.dkr.ecr.ap-southeast-2.amazonaws.com/webapisample:{buildNumber}",
  "cluster": "pipeline-ecs-cluster",
  "vpc": "vpc-9c42f4fb",
  "subnets": "subnet-aa7e1de3,subnet-98c7b1ff"
}